APP_HOST=localhost
APP_PORT=3000
APP_SECRET=some-random-value

DB_HOST=database
DB_PORT=5432
DB_USERNAME=wited_user
DB_PASSWORD=wited_password
DB_NAME=wited_db
DB_SYNC=false

CACHE_HOST=cache
CACHE_PORT=6379